$primaryColor: #db0000;
$secondaryColor: #141414;

.row{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 0 0 70px;
    .slick-slider {
        .slick-list{
            .slick-track{
                .slick-slide {
                    max-width: 220px !important;
                  div{
                    max-width: 220px !important;
                  }
                }
            }
        }
    }
    h2{
        cursor: default;
        margin-top: 0;
    }
    
}

@media screen and (max-width: 1000px) {
    
    .row{
        padding: 20px 0 20px 20px;
    }
}